<html>
  <head>
      <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js "></script>
      <script type="text/javascript"> 

        $(document).ready(function() {
          $('input[action]').on('click', function() {
            var reports = $('input:checked[id^="report_selector_"]').map(function(){ return $(this).attr('name') }).get().join( "," );
            $('#reportsForm').attr('action', "/reports/" + $(this).attr('action') + '?reports=' + encodeURIComponent(reports)).submit();
          });
        })
        
        function toogleAllReports() {
          checked = $('input[id="report_selector_0"]').prop('checked');
          $('input[id^="report_selector_"]').each(function() {
              $(this).prop('checked', !checked);
          })
        }

        function add() {
          window.location = '/reports/add';
        }

      </script>
  </head>
  <body>
    <form id="reportsForm" action="/reports" method="post">
      <table>
        <thead>
          <tr>
            <th><input type="checkbox" onclick="toogleAllReports()"/></th>
            <th>Name</th>
            <th>Date added</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {{ range $i, $report := .Reports }}
          <tr>
              <td><input type="checkbox" name="{{ $report.Name }}" id="report_selector_{{ $i }}"/></td>
              <td>{{ $report.Name }}</td>
              <td>{{ $report.DateUpload }}</td>
              <td>{{ $report.Type }}</td>
          </tr>
          {{ end }}
        </tbody>  
      </table>
    </form>
    <div>
      <input type="button" id="compare" action="compare" name="compare" value="Compare"/>
      <input type="button" id="delete"  action="delete"  name="delete" value="Delete"/>
      <input type="button" id="add" onclick="add()" value="Add new"/>
    </div>
  </body>
</html>